@page
@model WebApp.Pages.Customers.CardsModel
@{
}


@foreach (var customer in Model.Customers)
{
    <div class="card">
        <div class="card-header">
            <h4>@customer.FirstName @customer.LastName</h4>
        </div>

        <div class="card-body">
            <img src="https://picsum.photos/100/150?random=@customer.Id"  />
        </div>

    </div>

}