@page
@model WebApp.Pages.Customers.DeleteModel
@{
}


<div>
    <div class="card">
        <div class="card-header">
            <h4>@Model.Customer.FirstName @Model.Customer.LastName</h4>
        </div>

        <div class="card-body">
            <p class="card-text">Czy chcesz usunąć klienta?</p>
        </div>

      
        <div class="card-footer">

            <form method="post">
                <input type="hidden" asp-for="@Model.Customer.FirstName" />
                <input type="hidden" asp-for="@Model.Customer.LastName" />
                <button type="submit" class="btn btn-danger btn-block">Usuń</button>
            </form>

            <a class="btn btn-primary btn-block" asp-page="Index">Anuluj</a>
        </div>

        

    </div>
</div>