<!DOCTYPE html>

<head>

    <title>Razor Pages</title>

</head>

<body>

     <header>
         <nav class="navbar">
             <ul>
                 <li>
                     <a asp-page="/Home">Home</a>
                 </li>

                 <li>
                     <a asp-page="/Privacy">Privacy</a>
                 </li>

                 <li>
                     <a asp-page="/About">About</a>
                 </li>

                 <li>
                     <a asp-page="/Contact">Contact</a>
                 </li>

                 <li>
                     <a class="nav-link text-dark" href="https://github.com/sulmar/vavatech-razor-pages-202110">GitHub</a>
                 </li>
             </ul>
         </nav>
     </header>
  

    <div>
        @RenderBody()
    </div>

</body>