@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Razor Pages!!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="post">
    <button type="submit" class="btn btn-dark btn-block">Zapamiętaj mnie</button>
</form>


<div>
    <ul id="messages"></ul>
</div>


<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/signalr/customers")
        .build();

    connection.start()
        .catch(() => err => console.error(err.toString));

    connection.on('AddedCustomer', (customer) => {
        console.log(customer);
        let li = document.createElement("li");
        li.innerText = customer.firstName;
        document.getElementById("messages").appendChild(li);
    });

</script>